* {
    margin: 0;
    padding: 0;
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(113, 236, 255);
    flex-direction: column;

}

.main {
    margin: 0;
    padding: 0;
    width: 90vw;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(237, 237, 236);
    border: rgb(237, 237, 236) solid 1px;
}

#video {
    display: flex;

}

canvas {
    position: absolute;
    margin-top: 1vh;
}

#status {
    padding-left: 14vw;
    background-color: rgb(47, 227, 255);
    border: rgb(47, 227, 255) 1px solid;
    border-radius: 5px;
    box-shadow: 3px 3px #888888;
    margin-bottom: 2vh;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

.video-container {
    border: 1px solid rgba(0, 0, 0, 0.278);
    background-color: rgba(0, 0, 0, 0.278);
    box-shadow: 1px 1px black;
    border-radius: 5px;
}

p {
    color: black;
}

h4{
    margin-bottom: 1vh;
    padding-left: 20vw;
    font-family: "Lucida Sans Unicode";
}
h4>a{
    text-decoration: none;
    color: black;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: 3px 3px #888888;
    margin-left: 0.1vw;
    cursor: pointer;
    font-family: Verdana;
}

h4>a:hover{
    background-color: rgba(163, 169, 9, 0.619);
    color: black; 
}

#start-button {
    margin-top: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 5vh;
    background-color: rgba(255, 255, 0, 0.804);
    color: black;
    border-radius: 5px;
    box-shadow: 3px 3px #888888;
    font-family: "FreeMono", monospace;
}

#start-button:hover{
    background-color: rgba(163, 169, 9, 0.619);
    color: black;
    transform: scale(1.2);
    
}

@media screen and (max-width: 600px) {
    .main-out {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 90vh;
        background-color: rgb(113, 236, 255);
        flex-direction: column;
    
    }
    
    #status{
    padding-left:6vw;
    padding-right:2vw;
    font-size : 6vw;
    }
    
    
    
    .main-in{
        margin: 0;
        padding: 0;
        width: 70vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(237, 237, 236);
        border: rgb(237, 237, 236) solid 1px;
    }
    #video {
        display: flex;
        width:70vw;
        height: 70vh;
    
    }
    
    .video-container {
        border: 1px solid rgba(0, 0, 0, 0.278);
        background-color: rgba(0, 0, 0, 0.278);
        box-shadow: 1px 1px black;
        border-radius: 5px;
        width:70vw;
        height: 70vh;
    }
    
    p {
        color: black;
    }
    
    h6{
        margin-bottom: 1vh;
        padding-left: 17vw;
        font-family: "Lucida Sans Unicode";
    }
    
    h6>a{
        text-decoration: none;
        color: black;
        background-color: yellow;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 1vw;
        padding-right: 1vw;
        box-shadow: 3px 3px #888888;
        margin-left: 0.1vw;
        font-size:3vw;
        font-family: Verdana;
    }
    
    #start-button {
        margin-top: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 5vh;
        background-color: rgba(255, 255, 0, 0.804);
        color: black;
        border-radius: 5px;
        box-shadow: 3px 3px #888888;
        font-family: "FreeMono", monospace;
    }

    canvas{
        display: none;
    }
}